.header {
    width: 100%;
    display: flex;
    padding: 40px 30px;
    justify-content: space-between;
    align-items: center;
    &__menu-container {
        &__menu {
            display: none;
            align-items: center;
            flex-direction: column;
            position: absolute;
            top: 0;
            left: 0;
            background-color: hsla(229, 31%, 21%, 0.911);
            width: 100vw;
            height: 100vh;
            &--close {
                display: flex;
                @extend .header;
            }
            &__options {
                width: 85%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                list-style: none;
                letter-spacing: 0.12em;
                li {
                    width: 100%;
                    text-align: center;
                    border-top: 1px solid rgba(255, 255, 255, 0.199);
                    padding: 25px 0px;
                    a {
                        color: $white;
                        text-decoration: none;
                        text-transform: uppercase;
                        font-weight: 400;
                    }
                }
                li button {
                    width: 100%;
                    height: 50px;
                    border-radius: 5px;
                    background-color: transparent;
                    border: 2px solid $white;
                    text-transform: uppercase;
                    color: $white;
                    font-size: 1.8rem;
                    font-weight: 500;
                    letter-spacing: 0.12em;
                }
            }
            &__redes {
                height: 100%;
                width: 100%;
                display: flex;
                align-items: flex-end;
                justify-content: center;
                padding-bottom: 30px;
                img {
                    padding: 25px;
                }
            }
        }
    }
}

@media (min-width: 1440px) {
    .header {
        padding: 30px 100px;
        &__menu-container {
            &--open {
                display: none;
            }
            &__menu {
                display: flex;
                position: relative;
                width: auto;
                height: auto;
                background-color: transparent;
                &--close {
                    display: none;
                }
                &__redes {
                    display: none;
                }
                &__options {
                    width: auto;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 35px;
                    & li {
                        border: none;
                        font-size: 1.4rem;
                        & a {
                            color: $very-dark-blue;
                        }
                        & button {
                            font-size: 1.4rem;
                            border: none;
                            background-color: $soft-red;
                            cursor: pointer;
                            font-weight: 700;
                            padding: 0px 35px;
                            height: 45px;
                        }
                    }
                }
            }
        }
    }
}